@import url('https://fonts.googleapis.com/css2?family=Anton&family=Source+Code+Pro:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    outline: none;
    text-decoration: none;
}
footer {
    background: transparent;
    text-align: center;
    font-family: 'Anton';
    color:black;
}
#footer_kino {
    color: white;
}
body, html {
    width: 100%;
    height: 100%;
}

body {
    background: #fafafa;
    font-family: 'Trebuchet MS', 'Helvetica';
    font-weight: bold;
}

/*Шапка сайта*/

header {
    width: 100%;
    padding: 10px 0.5% 0px 0.5%;
    background: transparent;
    float: left;
    position: fixed;
}

header #logo {
    color: #fff;
    cursor: pointer;
}

header #logo span {
    font-size: 1.7em;
    line-height: 45px;
    margin-left: 40px;
    font-family: 'Anton', sans-serif;
}

@media (min-width: 701px) {
    #logo {
        float: left;
        width:30%;
        font-size: 1.1em;
    }
    #about {
        float: right;
        width: 67%;
    }
}

@media (max-width: 700px) {
    #logo {
        margin-top: 15px;
        width:100%;
        font-size: 1.5em;
    }
    #about {
        float: left;
        width: 100%;
    }
}

#about {
    text-align: center;
    font-size: 1em;
    line-height: 40px;
    margin-bottom: 10px;
    text-decoration: none;
}
#about > a{color:#fff}

#about > a:hover {
    color: #b0b0b0;
    text-decoration: none;
}

#about > a:not(:last-child) {
    margin-right: 7% ;
}

.fixed {
    z-index: 5000;
    background-color: white;
    border-bottom: 1px solid silver;
}

header.fixed #logo {
    color: #343434;
}
.fixed #about a {color:#343434}
.fixed #about a:hover {color:#756c6c}

/*Главный блок на сайте*/

#top {
    width:100%;
    height:1000px;
    background-image: url(https://img2.akspic.ru/originals/8/6/8/1/5/151868-zheleznyj_chelovek-tor-kinovselennaya_marvel-tanos-mstiteli-2048x1152.jpg);
    background-blend-mode: multiply;
    background-color: #605f32d4;
    background-size: cover;
    text-align: center;
    color:#fff;
    font-size: 3em;
}

@media (min-width: 1001px) {
    #top {
        font-size: 3em;
        height:1000px;
    }
}

@media (max-width: 1000px) and (min-width:651px) {
    #top {
        font-size: 2em;
        height:600px;
    }
}
@media (max-width: 650px) {
    #top {
        font-size: 1.3em;
        padding-top: 50%;
        height:500px;
    }
}

#top h1 {
    padding-top: 20%;
}

/*Блок с возможностями*/
#main {
    padding: 100px 20%;
    width: 60%;
    float: left;
    background-color: #f6f6f6;
    border-top: 2px solid silver;
    color: #484848;
    font-size:1.3em;
}

@media (min-width: 1401px) {
    #main {
        padding: 100px 20%;
        width: 60%;
    }
}
@media (max-width: 1400px) {
    #main {
        padding: 100px 10%;
        width: 80%;
    }
}

@media (max-width: 700px) {
    #main div {
        width: 98%!important;
        margin-bottom: 20px;
    }
}

#main div {
    width: 48%;
    margin-right: 2%;
    float: left;
}

#main h2 {
    font-size: 3em;
}
#main span {
    color: slateblue;
}

#overview {
    float: left;
    background-image:
    url(https://cdn.lifehacker.ru/wp-content/uploads/2020/01/41-Avengers-Endgame_1580219304.jpg);
    background-blend-mode: multiply;
    background-color: slateblue;
    background-size: cover;
    background-attachment: fixed;

    padding: 100px 0;
    width: 100%;
    text-align: center;
    color:snow;
}

#overview h2 {
    font-size: 4em;
}
#overview h4 {
    color:var(#484848);
    font-size: 1.5em;
}
#overview .img {
    float: left;
    width: 30%;
    margin-right: 5%;
    margin-top: 50px;
}

#overview .img:nth-child(odd) {
    margin-left: 18%;
}

#overview img {
    background:lightseagreen;
    padding: 5px;
    border: 2px solid silver;
    float: left;
    width: 100%;
    max-width: 500px;
    margin-left: 25px;
}
#overview span {
    float:left;
    width:100%;
    font-size: 2em;
    margin-top: 10px;
}

@media (max-width: 700px) {
    #overview .img {
        width:80%!important;
        margin-right: 0!important;
        margin-left: 8px!important;
    }
}
@media (max-width: 700px) {
    #overview span {
        padding-left: 29px;
    }
}

@media (max-width: 1200px) {
    #overview span {
        padding-left: 29px;
    }
}

/*feedback.htlm*/
#contacts {
    float: left;
    padding-bottom: 40px;
    width:100%;
    height:600px;
    background-blend-mode: multiply;
    background-size: cover;
    margin-top: -150px;
    margin-bottom: 100px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

#contacts h5 {
    font-size: 4em;
    color:#fff;
    text-align: center;
    margin-top: 140px;
}

#form_input {
    margin-top: 80px;
    width: 35%;
    margin-left: 38%;
    font-size: 1.1em;
}

#form_input label {
    color:rgb(245, 248, 255);
    cursor: pointer;
    font-size: 1.4em;
    font-family:'Roboto Slab', serif;
}

#form_input label >span {
    color:#87e7e7;
}

#form_input input, #form_input textarea {
    margin-bottom: 10px;
    width: 70%;
    padding: 10px 2%;
    border-radius: 7px;
    border: 2px solid #4d1fcc;
    font-size: 0.9em;
    color:#4a4a4a;
}

#form_input input:focus, #form_input textarea:focus {
    border-color: rgb(2, 5, 14);
}

.btn {
    float: left;
    border-radius: 5px;
    padding: 5px 9px;
    font-size: 1.2em;
    background-color: #495bbd;
    text-shadow: #4f4f4f 0 0 2px;
    cursor: pointer;
    color:white;
    font-family:'Roboto Slab', serif;
}

.btn:hover {
    background-color: #15226d;
}



h6 {
    font-family: 'Roboto Slab', serif;
    font-weight:bolder;
    font-size: 1.1em;
    opacity: 0.7;
}

#styles_icon {
    background-image:url(https://cdn.lifehacker.ru/wp-content/uploads/2020/01/41-Avengers-Endgame_1580219304.jpg);
    background-blend-mode: multiply;
    background-color: slateblue;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;

}

/*kino.html*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.filmsearch_container {
    padding: 50px;
    outline: none;
    padding: 10% 20% 10%;
    padding-bottom: 10px;
}
@media (max-width: 700px) {
    .form {
        padding: 10% 20% 10%;
        margin-top: 100px;
    }
}
@media (max-width: 701px) {
    .form {
        padding: 10% 20% 10%;
        margin-top: 101px;
    }
}



.body_kino {
    background-image: url(https://img2.akspic.ru/originals/8/6/8/1/5/151868-zheleznyj_chelovek-tor-kinovselennaya_marvel-tanos-mstiteli-2048x1152.jpg);
    background-blend-mode: multiply;
    background-color: #605f32d4;
    background-size: cover;
    background-attachment:fixed;
}
.filmsearch {
    width:100%;
    height:30px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #87e7e7;
}

.movie__cover--darkened {
    background-color: #484848;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    z-index: 1;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie {
    width: 240px;
    margin: 10px;
    position: relative;
}

.movie__cover-inner {
    position: relative;
    height: 360px;
}

.movie__cover {
    max-width: 100%;
    height: 100%;
}

.movie__cover--darkened:hover {
    background-color: turquoise;
    cursor: pointer;
}

.movie__info {
    padding: 10px 0px;
}

.movie__title {
    font-size: 16px;
    color: white;
}

.movie__category {
    font-size: 14px;
    color: violet;
}

.movie__average {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a4a4a;
    color: white;
    font-size: 14px;
}

.movie__average--green {
    border:5px solid green;
}

.movie__average--orange {
    border:5px solid orange;
}

.movie__average--red {
    border:5px solid red;
}